@import url('./czi-vars.css');

.molm-czi-inline-editor {
  background: #fff;
  box-shadow: var(--czi-overlay-shadow);
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding: 4px 10px;
}

.molm-czi-inline-editor .molm-czi-custom-buttons {
  border-right: 1px solid #efefef;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  white-space: nowrap;
}

.molm-czi-inline-editor .molm-czi-custom-button {
  border: none;
}

.molm-custom-align-icon-left {
  content: url('../assets/left.svg');
  width: 15px;
  height: 15px;
  padding-top: 4px;
  padding-right: 3px;
  padding-left: 3px;
}

.molm-custom-align-icon-center {
  content: url('../assets/center.svg');
  width: 15px;
  height: 15px;
  padding-top: 4px;
  padding-right: 3px;
  padding-left: 3px;
}

.molm-custom-align-icon-right {
  content: url('../assets/right.svg');
  width: 15px;
  height: 15px;
  padding-top: 4px;
  padding-right: 3px;
  padding-left: 3px;
}

.molm-custom-align-icon-float-left {
  content: url('../assets/float-left.svg');
  width: 15px;
  height: 15px;
  padding-top: 4px;
  padding-right: 3px;
  padding-left: 3px;
}

.molm-custom-align-icon-float-right {
  content: url('../assets/float-right.svg');
  width: 15px;
  height: 15px;
  padding-top: 4px;
  padding-right: 3px;
  padding-left: 3px;
}

@media only print {
  .molm-czi-inline-editor {
    display: none;
  }
}

.CropperWrapper {
  width: 100%;
  max-height: 500px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem 3rem;
  box-shadow: rgb(204 219 232) 3px 3px 6px 0 inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
  border-radius: 1rem;
}

.ReactCrop {
  height: 100%;
}

.ReactCrop__child-wrapper {
  height: 100%;
}

.InfoText {
  font-size: 3rem;
  color: #ccc;
  font-weight: bold;
  text-align: center;
}

.CanvasWrapper {
  box-shadow: rgb(0 0 0 / 5%) 0 6px 24px 0, rgb(0 0 0 / 8%) 0 0 0 1px;
}

img {
  height: 100%;
  object-fit: contain;
}
